{% extends 'base.html' %}
{% load static %}
{% block  content %}

    <div id="header">
        <div class="bg-overlay"></div>
        <div class="center text-center padding_header">
            <div class="banner">
                <h1 class="">Fast food king</h1>
            </div>
            <div class="subtitle"><h4>HAMMA TAOMLAR TEZ</h4></div>
        </div>
        <div class="bottom text-center">
            <a id="scrollDownArrow" href="#"><i class="fa fa-chevron-down"></i></a>
        </div>
    </div>
    <!-- /#header -->

    <div id="story" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Qulaylik</h2>
            <p class="lead main text-center">qulaylik oddiylikdan boshlanadi</p>
            <div class="row text-center story">
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa fa-anchor"></i> </div>
                        <h3>Joy buyurtma bering</h3>
                        <p>Bizning ushbu saytimizdan joy buyurtma bering va yaqin odamlaringiz va do'stlaringiz bilan tamaddi qiling</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa  fa-cutlery"></i> </div>
                        <h3>Taomlardan bahra oling</h3>
                        <p>Bizning ajoyib taomlardan bahra oling va sifatiga baho bering, sizning fikringiz biz uchun muhim</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper"> <i class="fa fa-coffee"></i> </div>
                        <h3>Va Chanqoqbosti</h3>
                        <p>Albatta taomlangandan so'ng chanqayziz, bizda buning yechimi bor, turli xil ichimliklardan baxra oling</p>
                    </div>
                </div>
            </div>
            <!-- /.services --> 
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!-- #story -->


    <div id="facts" class="parallax parallax2 facts">
        <div class="container inner">
            <div class="row text-center services-3">
                <div class="col-sm-3">
                    <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-check-square"></i> </div>
                    <h4>Buyurtma</h4>
                    <p>Saytimizdagi formalarni <br> to'ldiring</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-clock-o"></i> </div>
                    <h4>Biroz vaqt</h4>
                    <p>Birozgina kuting</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-truck"></i> </div>
                    <h4>Yetgazib berish</h4>
                    <p>Uyingizgacha yetgazib <br> berishadi</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-wrapper">
                    <div class="icon-border bm10"> <i class="fa fa-cutlery"></i> </div>
                    <h4>Yoqimli ishtaxa</h4>
                    <p>Fast-food larimizdan <br> bahra oling</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container --> 
    </div><!-- #facts -->

    <div id="food-menu" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Ichimliklar</h2>
            <p class="lead main text-center">Bir biridan mazali ichimliklar, chanqoq bosdi</p>

               <div class="row">
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="/static/img/menu/hot-drinks.png" alt="Hot Drinks"></div>
                    <div class="menu-titles"><h1 class="">QAYNOQ</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Espresso</li>
                            <li>Americano</li>
                            <li>Capuccino</li>
                            <li>Latte</li>
                            <li>Mocha</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="/static/img/menu/sprites.png" alt="Deserts"></div>
                    <div class="menu-titles"><h1 class="">GAZLANGAN</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Coca-Cola</li>
                            <li>Fanta</li>
                            <li>Sprite</li>
                            <li>Dena</li>
                            <li>Pepsi</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="/static/img/menu/smoothies.png" alt="Smoothies"></div>
                    <div class="menu-titles"><h1 class="">KOTEYL</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Muzqaymoqli</li>
                            <li>Qulpinay</li>
                            <li>Apelsi</li>
                            <li>Banan</li>
                            <li>Kiyvi</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3">
                    <div class="menu-images "><img src="/static/img/menu/cocktails.png" alt="Hot Drinks"></div>
                    <div class="menu-titles"><h1 class="">SHARBAT</h1></div>
                    <div class="menu-items ">
                        <ul>
                            <li>Qulpinay</li>
                            <li>Apelsi</li>
                            <li>Banan</li>
                            <li>Kiyvi</li>
                            <li>Olma</li>
                        </ul>
                    </div>
                </div>
            </div>
		</div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!--/#food-menu-->




    <div id="special-offser" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Maxsus Takliflar</h2>
            <p class="lead main text-center">Mazali ta'm, qulay narx, tez tayyor</p>
            
            <div class="row">
				
				<!-- takliflar -->
				{% for foods in foods%}
                <div class="col-md-6 col-sm-6">
                    
                    <div class="pricing-item">
                        
                        <a href="{% url 'fastfood_app:order'%}"><img class="img-responsive img-thumbnail" src="{{foods.image.url}}" alt=""></a>
                        
                        <div class="pricing-item-details">
                            
                            <h3><a href="#">{{foods.title}}</a></h3>
                            
                            <p>{{foods.body}}</p>
                            
                            <a class="btn btn-danger" href="{% url 'fastfood_app:order'%}">Buyurma berish</a>
                            <div class="clearfix"></div>
                        </div>
                        <!--price tag-->
                        <span class="hot-tag br-green">{{foods.cost}}</span>
                        <div class="clearfix"></div>
                    </div>
                </div>
				{% endfor %}
				<!-- takliflar tugadi-->
				
                
            </div>

        </div>
        <!-- /.container --> 
    </div><!-- /#special-offser -->




    <div id="reservation" class="light-wrapper">
        <section class="ss-style-top"></section>
        <div class="container inner">
            <h2 class="section-title text-center">Joy buyurtma berish</h2>
            <p class="lead main text-center">Oldindan joy band qilish</p>
            <div class="row">
                <div class="col-md-6">
                    <form class="form form-table" id='post' method="post" action="">
                        <div class="form-group">
                            <h4>Qatorlarni to'ldiring (hamma qator to'ldirilishi shart)</h4>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            {% csrf_token %}
                            <label class="sr-only" for="first_name1">Ism</label>
                            <input class="form-control hint" type="text" id="first_name1" name="first_name" placeholder="Ism" required="">
                          </div>
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="last_name1">Familya</label>
                            <input class="form-control hint" type="text" id="last_name1" name="last_name" placeholder="Familya" required="">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="phone1">Tel nomer</label>
                            <input class="form-control hint" type="text" id="phone1" name="phone" placeholder="Tel nomer" required="">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="reserv_date1">reservation date</label>
                            <input class="form-control datepicker hasDatepicker hint" type="text" id="reserv_date1" name="reserv_date" placeholder="Sanasi" required="">
                          </div>
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="numb_guests1">number of guests</label>
                            <input class="form-control hint" type="text" id="numb_guests1" name="numb_guests" placeholder="Mehmonlar soni" required="">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="alt_reserv_date1">time from</label>
                            <input class="form-control datepicker hasDatepicker hint" type="text" id="alt_reserv_date1" name="time_from" placeholder="00:00 dan" required="">
                          </div>
                          <div class="col-lg-6 col-md-6 form-group">
                            <label class="sr-only" for="time1">time to</label>
                            <input class="form-control timepicker ui-timepicker-input hint" type="text" id="time1" name="time_to" placeholder="00:00 gacha" required="" autocomplete="off">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <h3><span class="text-warning">Faqtgina aniq keluvchilar buyurtma bersin!!!</span> <br><span class="text-info"> Aperatorlar siz bilan bog'lanadi.</span> <br> <br></h3>
                            <p class='text-danger'>Iltimos buyurtma bergandan so'ng sahifani yangilamang!</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                            <button type="submit" id="submit" class="btn btn-danger btn-lg">Yo'llash!</button>
                          </div>
                        </div>
                    </form>
                </div><!-- col-md-6 -->
                <div class="col-md-5 col-md-offset-1">
                    
                    <h3><i class="fa fa-clock-o fa-fw"></i>Hours</h3>
                    <h4>Breakfast</h4>
                    <p>Mon to Fri: 7:30 AM - 11:30 AM<br>Sat &amp; Sun: 8:00 AM - 9:00 AM</p>
                    <h4>Lunch</h4>
                    <p>Mon to Fri: 12:00 PM - 5:00 PM</p>
                    <h4>Dinner</h4>
                    <p>Mon to Sat: 6:00 PM -  1:00 AM<br>Sun: 5:30 PM - 12:00 AM</p>

                    <h3><i class="fa fa-map-marker fa-fw"></i>Directions</h3>
                    <p>4120 Lenox Avenue, New York, NY, 10035 76 Saint Nicholas Avenue</p>

                    <h3><i class="fa fa-mobile fa-fw"></i>Contacts</h3>
                    <p>Email: <a href="mailto:yourname@meatking.com">yourname@meatking.com</a></p>
                    <p>Phone: +234 3456 678</p>

                </div><!-- col-md-6 -->
            </div>
            <!-- /.services --> 
        </div>
        <!-- /.container -->
        <section class="ss-style-bottom"></section>
    </div><!-- #reservation -->



    <div id="chefs" class="parallax pricing">
        <div class="container inner">

            <h2 class="section-title text-center">Oshpazlar</h2>
            <p class="lead main text-center">Mohir oshpaz - mazali taom</p>
            
            <div class="row text-center chefs">
				
				
				{% for chefs in chefs %}
                <div class="col-sm-4">
                    <div class="col-wrapper">
                        <div class="icon-wrapper">
                            <img src="{{chefs.image.url}}">
                        </div>
                        <h3>{{chefs.name}}</h3>
                        <p>{{chefs.body}}</p>
                    </div>
                </div>
				{% endfor %}
				
				
            </div>

        </div>
        <!-- /.container --> 
    </div><!-- /#chefs -->

 {% endblock %}
   